In [1]:
%pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.13/site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass
password=getpass.getpass()

In [3]:
bd= "sakila"
connection_string= ''

In [4]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [5]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT 
            rental_id,
            rental_date,
            inventory_id,
            customer_id,
            return_date,
            staff_id
        FROM rental
        WHERE MONTH(rental_date) = {month}
          AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql_query(query, engine)
    return df

In [10]:
df_rentals = rentals_month(engine, 5, 2005)
df_rentals.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

In [12]:
def rental_count_month(df, month, year):
    result = (
        df.groupby("customer_id")
        .agg(rental_count=("rental_id", "count"))
        .reset_index()
    )
    result["month"] = month
    result["year"] = year
    return result

In [13]:
df_rentals = rentals_month(engine, 5, 2005)
df_counts = rental_count_month(df_rentals, 5, 2005)
print(df_counts.head())

   customer_id  rental_count  month  year
0            1             2      5  2005
1            2             1      5  2005
2            3             2      5  2005
3            5             3      5  2005
4            6             3      5  2005

Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [14]:

def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on="customer_id", suffixes=("_1", "_2"), how="outer").fillna(0)
    merged["difference"] = merged["rental_count_2"] - merged["rental_count_1"]
    return merged

In [15]:
df_may = rental_count_month(rentals_month(engine, 5, 2005), 5, 2005)
df_june = rental_count_month(rentals_month(engine, 6, 2005), 6, 2005)

comparison = compare_rentals(df_may, df_june)
print(comparison.head())

   customer_id  rental_count_1  month_1  year_1  rental_count_2  month_2  \
0            1             2.0      5.0  2005.0             7.0      6.0
1            2             1.0      5.0  2005.0             1.0      6.0
2            3             2.0      5.0  2005.0             4.0      6.0
3            4             0.0      0.0     0.0             6.0      6.0
4            5             3.0      5.0  2005.0             5.0      6.0

   year_2  difference
0  2005.0         5.0
1  2005.0         0.0
2  2005.0         2.0
3  2005.0         6.0
4  2005.0         2.0